{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
    <h1>Welcome to CalendarSync!</h1>

    <h2>Currently Configured Calendars</h2>

    {{util.form_button(url_for('new_calendar'),
    util.icon('plus') + ' Add new calendar to sync')}}
</div>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}