name: Deploy (Dev)

on:
  schedule:
    - cron: '0 0 * * *'

  workflow_dispatch:

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  deploy-dev:
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      project_id: ${{ vars.DEV_GCP_PROJECT_ID }}
      service_name: "calendarsync-dev"
      region: "us-central1"
      custom_url: "https://calendarsync-dev.billnapier.com"
      wif_provider: "projects/61852959082/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
      wif_service_account: "github-actions-sa@calendarsync-napier-dev.iam.gserviceaccount.com"
