name: Deploy (Dev)

on:
  push:
    branches-ignore:
      - main
    paths-ignore:
      - 'terraform/**'
      - 'docs/**'
      - 'README.md'
      - '.github/workflows/terraform*'

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  deploy-dev:
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      project_id: ${{ vars.DEV_GCP_PROJECT_ID }}
      service_name: "calendarsync-dev"
      region: "us-central1"
      custom_url: "https://calendarsync-dev.billnapier.com"
    secrets:
      wif_provider: ${{ secrets.DEV_GCP_WIF_PROVIDER }}
      wif_service_account: ${{ secrets.DEV_GCP_WIF_SA_EMAIL }}
