name: Terraform Apply (Prod)

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/**'

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  apply-prod:
    uses: ./.github/workflows/reusable-terraform-apply.yml
    with:
      environment_name: "Prod"
      tf_workspace: "prod"
      project_id: ${{ vars.GCP_PROJECT_ID }}
      service_name: "python-cloudrun-app"
      domain_name: ${{ vars.DOMAIN_NAME }}
    secrets:
      wif_provider: ${{ secrets.GCP_WIF_PROVIDER }}
      wif_service_account: ${{ secrets.GCP_WIF_SA_EMAIL }}
