name: Terraform Apply (Dev)

on:
  pull_request:
    paths:
      - 'terraform/**'
  workflow_dispatch:

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  apply-dev:
    uses: ./.github/workflows/reusable-terraform-apply.yml
    with:
      environment_name: "Dev"
      tf_workspace: "dev"
      project_id: ${{ vars.DEV_GCP_PROJECT_ID }}
      service_name: "calendarsync-dev"
      domain_name: ${{ vars.DEV_DOMAIN_NAME }}
      var_file: "dev.tfvars"
    secrets:
      wif_provider: ${{ secrets.DEV_GCP_WIF_PROVIDER }}
      wif_service_account: ${{ secrets.DEV_GCP_WIF_SA_EMAIL }}
