name: YAML Lint

on:
  pull_request:

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # ratchet:actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # ratchet:actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install yamllint
        run: pip install yamllint
      - name: Run yamllint
        run: yamllint .github/workflows/*.yml
